@model CMCS.Web.ViewModels.AssignRoleVm
@{
    ViewData["Title"] = "Assign Role";
}
<h3>Assign Role to @Model.Email</h3>
<form asp-action="AssignRole" method="post">
    <input type="hidden" name="UserId" value="@Model.UserId" />
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="Roles" value="Coordinator" id="coord" />
        <label class="form-check-label" for="coord">Coordinator</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="Roles" value="Manager" id="mgr" />
        <label class="form-check-label" for="mgr">Manager</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="Roles" value="Admin" id="adminrole" />
        <label class="form-check-label" for="adminrole">Admin</label>
    </div>
    <button class="btn btn-primary mt-2">Save Roles</button>
</form>
